div{
    float: left;
    text-align: center;
    
}
#firstButton, #automaticIncrease, #firstParagraph{
    display: inline-block;
    margin: 10px;
}
/* #firstParagraph{
    display: inline-block;
    margin: 10px;
}
#automaticIncrease{
    margin: 10px;
    display: inline-block;
} */
#upgradeButton{
    margin: 10px;
}